# === INSTRUCCIONES ===
# 1. Copia este archivo y renómbralo a ".env.local"
# 2. Las siguientes variables apuntan a la base de datos de pruebas/desarrollo de Supabase.
# === === === === ===
EXPO_PUBLIC_SUPABASE_URL=https://zpkqjdwhorufwhdthluq.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inpwa3FqZHdob3J1ZndoZHRobHVxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM1MTYzMjIsImV4cCI6MjA5OTA5MjMyMn0.-Zh-TspQK6PsRB0Z97Qa9UjHbX9LxdoSyc39N8HBau8
